.logo-hover {
    transition: filter 0.3s ease-in-out;
  }

.logo-hover:hover {
    filter: brightness(1.2);
  }

.nav-hover {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 6px;
    min-width: 80px;
    text-align: center;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  }
  
.nav-hover:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scaleX(1);
    color: white;
  }
  
  
